<html>
  <head>
    <title>Device Checkout Page</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Device Checkout Page</h1>

      <script>

        function confirmReset(fieldName, resetField) {
            if ( confirm("Are you sure you wish to " + fieldName + "?") == false ) {
              return false ;
            } else {
              fetch('/api/buttons', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                "field_name": resetField,
                "action": "reset_field",
              }),
            });
            my_grid.forceRender();

             }
        }

        function addRow() {
            fetch('/api/buttons', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
              "action": "add_row",
            }),
          });
          my_grid.forceRender();
        }

        function deleteDevice(deviceName) {
            if ( confirm("Are you sure you wish to delete all rows with Name \"" + deviceName + "\"?") == false ) {
              return false ;
            } else {
              fetch('/api/buttons', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                "action": "delete",
                "field_name": deviceName
              }),
            });
            my_grid.forceRender();

            }
          }
        </script>


      <input type="button" onclick="confirmReset('reset all users', 'user')" value="Reset Users"/>
      <input type="button" onclick="confirmReset('reset all notes', 'note')" value="Reset Notes"/>
      <input type="button" onclick="addRow()" value="Add new row"/>
      <pre></pre>
      <input type="text" placeholder="Device name to delete" id="deleteDevice"/>
      <input type="submit" onclick="deleteDevice( document.getElementById('deleteDevice').value)" value="Delete device"/>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      function confirm_reset_row(row_id, field_name)
      {
        fetch('/api/buttons', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                "action": "reset_row",
                "field_name": field_name,
                "row_id": row_id
              }),
            });
            my_grid.forceRender();
      }

      function get_grid()
      {
        return new gridjs.Grid({
          columns: [
            { id: 'id', 'hidden': true },
            { id: 'devName', name: 'Name', 'attributes': editableCellAttributes },
            { id: 'devIp', name: 'IP Address', 'attributes': editableCellAttributes},
            { id: 'ver', name: 'Version', 'attributes': editableCellAttributes },
            { id: 'oemVer', name: 'OEM Version', 'attributes': editableCellAttributes },
            { id: 'location', name: 'Location', 'attributes': editableCellAttributes },
            { id: 'user', name: 'Current User',  'attributes': editableCellAttributes },
            { id: 'note', name: 'Note', sort: false,  'attributes': editableCellAttributes },
            { id: 'reset_user', name: '', sort: false,         formatter: (cell, row) => {
          return gridjs.h('button', {
            className: 'py-2 mb-4 px-4 border rounded-md text-white bg-blue-600',
            onClick: () => confirm_reset_row(row.cells[0].data, "user")
                  }, 'Reset User');
                }
              },
              { id: 'reset_note', name: '', sort: false,         formatter: (cell, row) => {
          return gridjs.h('button', {
            className: 'py-2 mb-4 px-4 border rounded-md text-white bg-blue-600',
            onClick: () => confirm_reset_row(row.cells[0].data, "note")
                  }, 'Reset Note');
                }
              },
            ],
          server: {
            url: '/api/data',
            then: results => results.data,
            total: results => results.total,
          },
          search: {
            enabled: true,
            server: {
              url: (prev, search) => {
                return updateUrl(prev, {search});
              },
            },
          },
          sort: {
            enabled: true,
            multiColumn: true,
            server: {
              url: (prev, columns) => {
                const columnIds = ['id', 'devName', 'devIp', 'ver', 'oemVer', 'location', 'user', 'note'];
                const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                return updateUrl(prev, {sort});
              },
            },
          },
          pagination: {
            enabled: true,
            server: {
              url: (prev, page, limit) => {
                return updateUrl(prev, {start: page * limit, length: limit});
              },
            },
          },
        })
    }
      var my_grid = get_grid()
      my_grid.render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
    </script>
  </body>
</html>
